<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 引入 Thymeleaf -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<h1> USER 詳細列表 (後台) </h1>

	<table>
		<thead>
			<tr>
				<th>編號</th>
				<th>用戶</th>
				<th>性別</th>
				<th>郵箱</th>
				<th>手機</th>
				<th>權限</th>
			</tr>
		</thead>

		<tbody>
				<tr th:each = " userDto : ${ userDtos }" >
					<td th:text="${ userDto.id }"></td>
					<td th:text="${ userDto.username }"></td>
					<td th:text="${ userDto.gender }"></td>
					<td th:text="${ userDto.email }"></td>
					<td th:text="${ userDto.phone }"></td>	
					<td th:text="${ userDto.role }"></td>	
				</tr>
		</tbody>
	</table>
	

</body>
</html>